/* Clipboard Config */

@import "~/.config/rofi/master-config.rasi"

/* ---- Entry ---- */
entry {
  width: 37%;
  placeholder: "❯ Search clipboard — Ctrl Del to delete, Alt Del to wipe";
}

/* ---- Listview ---- */
listview {
  columns: 1;
  lines: 8;
}
